In [81]:
import pandas as pd
import numpy as np

other_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(other_path, header=None)
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns = headers

In [82]:
df=df.replace('?',np.NaN)

In [104]:
df.dropna(subset=["price"], axis=0, inplace=True)

In [84]:
df["city-mpg"] = 235/df["city-mpg"]

In [85]:
df.rename(columns={"city-mpg":"city-L/100km"},inplace=True)

In [86]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625

In [140]:
avgnl =df['normalized-losses'].mean(axis=0)

df['normalized-losses'].replace(np.nan, avgnl)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [130]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-L/100km         float64
highway-mpg            int64
price                 object
dtype: object

In [87]:
df[["length","width","height"]]

     length  width  height
0     168.8   64.1    48.8
1     168.8   64.1    48.8
2     171.2   65.5    52.4
3     176.6   66.2    54.3
4     176.6   66.4    54.3
..      ...    ...     ...
200   188.8   68.9    55.5
201   188.8   68.8    55.5
202   188.8   68.9    55.5
203   188.8   68.9    55.5
204   188.8   68.9    55.5

[205 rows x 3 columns]

In [88]:
#Simple Feature Scaling (dividing by max)
df["length"] = df["length"]/df["length"].max()

In [89]:
df["length"].min()

0.6780394041326285

In [90]:
#Min-max method (dividing by range)
df["width"] = (df["width"] - df["width"].min())/(df["width"].max() - df["width"].min())

In [91]:
df["width"]

0      0.316667
1      0.316667
2      0.433333
3      0.491667
4      0.508333
         ...
200    0.716667
201    0.708333
202    0.716667
203    0.716667
204    0.716667
Name: width, Length: 205, dtype: float64

In [93]:
#Actual standardisation
df["height"]  = (df["height"] - df["height"].mean()) / df["height"].std()

In [94]:
df["height"]

0     -2.015483
1     -2.015483
2     -0.542200
3      0.235366
4      0.235366
         ...
200    0.726460
201    0.726460
202    0.726460
203    0.726460
204    0.726460
Name: height, Length: 205, dtype: float64

In [131]:
df["price"] = df["price"].astype(int)

In [129]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-L/100km,highway-mpg
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,98.797015,0.837102,0.465755,0.017102,2555.666667,126.875622,10.164279,9.944145,30.686567
std,1.254802,6.066366,0.059213,0.175123,1.001760,517.296727,41.546834,4.004965,2.534599,6.815150
min,-2.000000,86.600000,0.678039,0.000000,-2.424729,1488.000000,61.000000,7.000000,4.795918,16.000000
25%,0.000000,94.500000,0.801538,0.316667,-0.705898,2169.000000,98.000000,8.600000,7.833333,25.000000
50%,1.000000,97.000000,0.832292,0.433333,0.153517,2414.000000,120.000000,9.000000,9.791667,30.000000
75%,2.000000,102.400000,0.881788,0.525000,0.726460,2926.000000,141.000000,9.400000,12.368421,34.000000
max,3.000000,120.900000,1.000000,0.975000,2.486215,4066.000000,326.000000,23.000000,18.076923,54.000000

In [113]:
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

In [133]:
bins = np.linspace(min(df["price"]),max(df["price"]),4)

In [135]:
group_names = ["low","medium","high"]

In [136]:
df["price-binned"] = pd.cut(df["price"],bins,labels=group_names,include_lowest=True)

In [137]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-L/100km,highway-mpg,price,price-binned
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,13495,low
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500,low
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500,low
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950,low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845,low
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045,medium
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485,medium
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470,medium
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625,medium

In [139]:
pd.get_dummies(df["fuel-type"])

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[201 rows x 2 columns]